<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "taketimeback.star2005m.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>TakeBackTime</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </description>

    <author href="http://scratch.mit.edu/users/star2005m" email="marwa14042005@gmail.com">
        super-game-makers
    </author>

</widget>
